body *{
    box-sizing: border-box;
}

body::before {
    content: '';
    display: block;
    width: 100%;
    min-height: 180vh;
    background: linear-gradient(180deg, transparent 95%, #49b0ff 95%);
    background-size: 1px 27px;
    position: absolute;
}
.nav {
    width: 100%;
    height: 81px;
    background: #bcbcbc;
    }

.main-box {
    width: 1120px;
    height: 324px;
    margin: 0 auto;
    padding-top: 27px;
    background: #b0b0b0;
}

.main-title-box {
    width: 940px;
    height: 135px;
    background: #ececec;
    margin:0 auto 27px;
}

.main-bnr-slide {
    width: 940px;
    height: 54px;
    background: #ececec;
    margin: 0 auto 27px;
}

.main-prodbox-box {
    width: 940px;
    margin: -54px auto 27px;
}

.main-prodbox-box>.prod-box {
    float: left;
    width: 310px;
    height:135px;
}

.prod-box.style1 {
    background: #e0e0e0;
    height: 270px;
    width: 320px;
}
.prod-box.style2 {
    background: #d4d4d4;
}
.prod-box.style3 {
    background: #eeeeee;
}
.prod-box.style4 {
    background: #ececec;
}
.prod-box.style5 {
    background: #d4d4d4;
}

.main-product-box {
    width: 940px;
    margin: 0 auto 27px;
}

.main-product-box>.product-box {
    float: left;
    width: 300px;
    height: 108px;
    margin-left: 20px;
}
.product-box.style1 {
background: #c6c6c6;
}
.product-box.style2 {
background: #c6c6c6;
}
.product-box.style3 {
background: #c6c6c6;
}
.product-box:first-child {
margin-left: 0;
}

.main-info-box {
    width: 940px; 
    height: 162px;
    background: #c6c6c6;
    margin: 0 auto 27px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}


.main-footerbox {
    width: 940px;
    height: 135px;
    background: #c6c6c6;
    margin: auto;
}





